.div-principal-ofertaAcademica{
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}

.img-ofertaAcademica-bannerTNM{
  width:100%;
}

.img-ofertaAcademica-portada{
  width:100%;
}

.div-cardsCarreras{
  width:100%;
  height: 100%;
  background-color: grey;
  display: flex;
}

.div-cardsIngenierias{
  width: 75%;
  height: auto;
  background-color: transparent;

}

.grid-container-ingenierias{
  width: 100%;
  height: 285vh;

}



.div-carreras{
  width:100%;
  height: 100%;
  background-color: grey;

}

.div-ingenierias{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  background-color: transparent;

}

.img-ItemCarrera{
  max-width:350px;
  max-height:350px;
  margin:3px;
  border:solid 2px #6D356C;
}






.ui.cards{
  background-color: transparent;
  height: 100%;
  margin: 0%;

}

.ui.card, .ui.cards>.card{
  width: 355px;
}

.grid-ingenierias-item{
  width: 100%;
  height: 100%;
  padding: 1%;
}

.img-CarreraItem{
  width: 100%;
  height: 100%;


}

.img-CarreraItem:hover{
  opacity: 0.7;
}

.div-cardsMaestrias{
  width:25%;
  height: 100%;
  background-color: grey;
  margin-top: 1%;

}

.grid-container-maestrias{
  width:100%;
  height: auto;
  display:grid;
  grid-template-columns: auto;

}

.grid-maestrias-item{
  height: 100%;
  height: 100%;
  padding: 1%;

}


.img-MaestriaItem{
  width: 100%;
  height: 100%;
  border-radius: 2%;

}

.img-MaestriaItem:hover{
  opacity: 0.7;
}

@media(min-width: 5000px){
  .div-principal-ofertaAcademica{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .div-cardsIngenierias{
    width: 75%;
    height: 205vh;
    background-color: grey;

  }

  .grid-container-ingenierias{
    width: 100%;
    height: 205vh;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .div-cardsMaestrias{
    width:25%;
    height: 205vh;
    background-color: grey;

  }

  .grid-container-maestrias{
    width:100%;
    height: 205vh;
    display:grid;
    grid-template-columns: auto;

  }
}

@media(min-width: 2500px){
  .div-principal-ofertaAcademica{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .div-cardsIngenierias{
    width: 75%;
    height: 205vh;
    background-color: grey;

  }

  .grid-container-ingenierias{
    width: 100%;
    height: 205vh;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .div-cardsMaestrias{
    width:25%;
    height: 205vh;
    background-color: grey;

  }

  .grid-container-maestrias{
    width:100%;
    height: 205vh;
    display:grid;
    grid-template-columns: auto;

  }

  .ui.card, .ui.cards>.card{
    width: 365px;
  }
}

@media(max-width: 1700px){

  .ui.card, .ui.cards>.card{
    width: 320px;
  }

}

@media(max-width: 770px){

  .div-principal-ofertaAcademica{
    width:100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .img-ofertaAcademica-bannerTNM{
    width:100%;
    margin-bottom: -1%;
  }

  .img-nombreTECMM{
    width: 100%;
    height: 100%;
    margin-bottom: -0.5%;
  }

  .div-cardsCarreras{
    width:100%;
    height: 100%;
    background-color: ;
    display: block;
  }

  /*INGENIERIAS Y LICENCIATURAS*/
  .div-cardsIngenierias{
    width: 100%;
    height: 100%;
    background-color: grey;

  }

  .grid-container-ingenierias{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  /*INGENIERIAS Y LICENCIATURAS*/


  /*MAESTRIAS*/
  .div-cardsMaestrias{
    width:100%;
    height: 100%;
    background-color: grey;
  }

  .grid-container-maestrias{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns: auto auto auto;
  }
  /*MAESTRIAS*/
}

@media(max-width: 420px){

  .div-principal-ofertaAcademica{
    width:100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .img-ofertaAcademica-bannerTNM{
    width:100%;
    margin-bottom: -1%;
  }

  .img-nombreTECMM{
    width: 100%;
    height: 100%;
    margin-bottom: -0.5%;
  }

  .div-cardsCarreras{
    width:100%;
    height: 100%;
    background-color: ;
    display: block;
  }


  .ui.cards{
    background-color: transparent;
    height: auto;
    margin: 0%;
    padding: 0%;
  }

  .card {
    width: 46%!important;


  }


  .img-ItemCarrera{
  max-width:150px;
  max-height:150px;
  margin:3px;
  border:solid 2px #6D356C;
}

  /*INGENIERIAS Y LICENCIATURAS*/
  .div-cardsIngenierias{
    width: 100%;
    height: 100%;
    background-color: grey;

  }

  .grid-container-ingenierias{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  /*INGENIERIAS Y LICENCIATURAS*/


  /*MAESTRIAS*/
  .div-cardsMaestrias{
    width:100%;
    height: 100%;
    background-color: grey;
  }

  .grid-container-maestrias{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns: auto auto auto;
  }


  /*MAESTRIAS*/
}
